<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.login">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Login">
        <activity android:name=".Login">
        </activity>
        <activity android:name=".Startscreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".UserMypage" />
        <activity android:name=".Signup" />
        <activity android:name=".ManagerMypage"/>
        <activity android:name=".Writing"/>
        <activity android:name=".Community"/>
        <activity android:name=".Separate"/>
        <activity android:name=".Environment"/>
        <activity android:name=".UserCheck"/>
        <activity android:name=".User"
            tools:ignore="Instantiatable" />
        <activity android:name=".UserAdapter"
            tools:ignore="Instantiatable" />
        <activity android:name=".WriteInfo"
            tools:ignore="Instantiatable" />
        <activity android:name=".Writing"
            tools:ignore="DuplicateActivity" />
        <activity android:name=".Information"/>
        <activity android:name=".SavedInfo"/>
        <meta-data android:name = "android.max_aspect" android:value="2.1"/>
    </application>
</manifest>